@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Repeating text for Vercel_DEV */
body[data-env='Vercel_DEV']::before {
  content: 'VERCEL-DEV ';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  font-size: 1.5rem;
  line-height: 2rem;
  color: red;
  text-align: right;
  pointer-events: none;
  z-index: 0;
  padding-right: 10px;
}

/* Repeating text for localhost */
body[data-env='localhost']::before {
  content: 'LOCALHOST ';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  font-size: 1.5rem;
  line-height: 2rem;
  color: red;
  text-align: right;
  pointer-events: none;
  z-index: 0;
  padding-right: 10px;
}

/* Ensure content stays above the background text */
body[data-env='Vercel_DEV'] > *,
body[data-env='localhost'] > * {
  position: relative;
  z-index: 1;
}
